<!-- login.html -->
{% extends "base.html" %}
{% block content %}
    <h2>🔐 登录 Tasko 帐号</h2>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST" style="max-width: 300px; margin: auto;">
        <label>Email：</label><br>
        <input type="email" name="email" required><br><br>

        <label>密码：</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">🔓 登录</button>
    </form>

    <p style="text-align: center; margin-top: 20px;">
        没有帐号？<a href="/register">点我注册</a>
    </p>
{% endblock %}
